<!doctype html> <!-- Cambiar a header una vez que con python se lo pueda poner en todas paginas-->
<html lang="es">
  
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/61ff68e988.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'Vacunasist/css/Estilo.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="{% static 'Vacunasist/bootstrap/bootstrap-5.1.3-examples/assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>
      VacunAssist
    </title>
    <link rel="shortcut icon" href="{% static 'Vacunasist/images/Logo.png' %}"> <!-- pedirle a lucho que haga un logo chiquito para el head que sea solo el botiquin -->
  </head>
  
  <body> 
    <header>
      <div>
        <a class="logo" href="{% url 'Home' %}">
          <img class="img" src="{% static 'Vacunasist/images/Logo.png' %}">
        </a>
      </div>
      <div class="dropdown" style="margin: 40px;">
        <button onclick="myFunction()" class="dropbtn"><i class="fa-solid fa-user" style="margin-right: 3%"></i> {{ request.user.nombre_apellido }}<i class="fa-solid fa-sort-down" style="margin-left: 3%;"></i></button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#home"><i class="fa-solid fa-pen-to-square" style="margin-right: 5%"></i>Mi perfil Proximamente..</a>
          <a href="{% url 'MisTurnos' %}"><i class="fa-solid fa-calendar-check" style="margin-right: 5%"></i>Mis turnos</a>
          <a href="{% url 'MisVacunas' %}"><i class="fa-solid fa-syringe" style="margin-right: 5%"></i>Mis vacunas</a>
          <a href="{% url 'Logout' %}"><i class="fa-solid fa-right-from-bracket" style="margin-right: 5%"></i>Cerrar sesión</a>
        {% if user.es_vacunador %}
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'TurnosHoy' %}"><i class="fa-solid fa-calendar-day" style="margin-right: 5%"></i>Ver turnos del día</a>
          {% endif %}
        </div>
      </div>       
    </header>
    <div class="container-fluid">
      <div class="row align-items-start mydiv">     
        <div class="col-3"  onclick="location.href='{% url 'Home' %}';" style="cursor: pointer; color:white; font-weight:600;">
          Home
        </div>
        <div class="col-3" onclick="location.href='';" style="cursor: pointer; color:white; font-weight:600;">
          Nosotros
        </div>
        <div class="col-3" onclick="location.href='';" style="cursor: pointer; color:white; font-weight:600;">
          Ayuda
        </div>
        <div class="col-3" onclick="location.href='';" style="cursor: pointer; color:white; font-weight:600;">
          Contacto
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock %}

  </body>
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    

    function myFunctionVac() {
      document.getElementById("myDropdownVac").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.dropbtnVac')) {
        var dropdowns = document.getElementsByClassName("dropdown-contentVac");
        var i;     
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
    </script>
    <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
</html>