<html>

<head>

<title>Cargar vacuna aplicada con turno</title>

</head>

<body>

    <form action="/cargar_vacuna_aplicada_con_turno/" method="GET">
        <p>ingrese DNI de la persona</p>
        <input type="text" name="DNI">
        <p>ingrese tipo de vacuna: Gripe, COVID-19, Fiebre_Amarilla</p>
        <input type="text" name="tipo">
        <p>ingrese marca de la vacuna</p>
        <input type="text" name="marca">
        <p>ingrese numero de lote de la vacuna</p>
        <input type="text" name="lote">

        <input type="submit" value="Cargar vacuna aplicada">
    </form>

</body>

</html>