 {% extends "HeaderBaseNoLog.html" %}
 {% load static %}

 {% block title %} VacunAsist
 {% endblock %}


 {% block content %}

  <main class="fondo">
      <div class="layer">
        <div class="infoPrincipal">
          <h1 class="titulo">Campañas</h1>
          <p class="fuenteCampañas" style="margin-top: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum in varius orci. Vestibulum ante ipsum primis in faucibus orci luctus et 
            ultrices posuere cubilia curae; Fusce vulputate mi orci, a tincidunt quam mattis vitae. Etiam ac sollicitudin
            justo. Sed vel posuere mauris. Ut nisi odio, feugiat quis est sed, viverra consequat ipsum. Donec est sem, blandit
              et magna nec, pulvinar placerat ex. Donec consectetur id leo non dapibus.</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-campaña" src="{% static 'Vacunasist/images/bacteria.jpg' %}" alt="">
                <h2 class="titulo2">influenza</h2>
                <p class="fuenteCampañas">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in varius orci. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia curae; Fusce
                vulputate mi orci, a tincidunt quam mattis vitae.</p>
            </div>
          <div  class="col-sm-4">
                <img class="img-campaña" src="{% static 'Vacunasist/images/bacteria.jpg' %}" alt="">
                <h2 class="titulo2">covid</h2>
                <p class="fuenteCampañas">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in varius orci. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia curae; Fusce 
                vulputate mi orci, a tincidunt quam mattis vitae.</p>
          </div>
          <div  class="col-sm-4">
                <img class="img-campaña" src="{% static 'Vacunasist/images/bacteria.jpg' %}" alt="">
                <h2 class="titulo2">fiebre amarilla</h2>
                <p class="fuenteCampañas">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum in varius orci. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia curae; Fusce 
                vulputate mi orci, a tincidunt quam mattis vitae.</p>
          </div>
        </div>
      </div>  
    </main>


    {% endblock %}
