<html>

<head>

<title>Inscribir Fiebre amarilla</title>

</head>

<body>
    {% if query == "si" %}
        <p> Presione el boton inscribir para inscribirse a la campania de la Fiebre amarilla</p>
        <form action="/inscribir_campania_fiebre_amarilla/">
            <input type="submit" value="Inscribir">
        </form>
    {%elif query == "no" %}
            <p> Presione el boton cancelar para describirse a la campania de la Fiebre amarilla</p>
            <form action="/inscribir_campania_fiebre_amarilla/">
                <input type="button" value="Cancelar">
            </form>
        {% else %}
            <p> Usted tiene mas de 60 anios, no se puede inscribir a la campania</p>


    {% endif %}
    

</body>

</html>