<html>

<head>

<title>Inscribir COVID</title>

</head>

<body>
    {% if query == "si" %}
        <p> Presione el boton inscribir para inscribirse a la campania del COVID</p>
        <form action="/inscribir_campania_COVID/">
            <input type="submit" value="Inscribir">
        </form>
    {%elif query == "no" %}
            <p> Presione el boton cancelar para describirse a la campania del COVID</p>
            <form action="/inscribir_campania_COVID/">
                <input type="button" value="Cancelar">
            </form>
        {% else %}
            <p> Usted tiene menos de 18 anios, no se puede inscribir a la campania hasta que cumpla esa edad</p>


    {% endif %}
    

</body>

</html>