{% extends "base_login.html" %}
 {% load static %}
 {% block content %}
<body class="user">

<div class="row d-flex justify-content-center" style="margin:3%">
<div class="col-md-8" style=" background-color: white;">
    <div>
        <form id="profileForm" class="bv-form">
            <div class="col-md-12" style="padding-left: 0px;">
                <h2 class="title">Datos Personales</h2>
            </div> 
            <div class="row">
                <input hidden="hidden">
                <div class="col-md-12 control-label">DNI<br> 
                    <input type="text" id="dni" name="Dni" required="required" maxlength="8" minlength="7" disabled="disabled" class="form-control validate">
                </div> 
                <div class="col-md-12 control-label">Apellido y Nombre <font color="red">*</font><br> 
                    <input type="text" id="nombre" name="nombre" required="required" maxlength="50" data-bv-field="nombre" class="form-control input-perfil">
                     <!---->
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6 control-label">Correo electrónico <font color="red">*</font><br> 
                        <input type="text" id="email" name="email" required="required" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" data-bv-field="email" class="form-control input-perfil"> <!---->
                    </div>
                    <div class="col-md-6 control-label">Numero Telefonico <font color="red">*</font><br> 
                        <div data-v-19c9a1c7="" id="telefono" class="vue-phone-number-input flex form-control input-perfil" data-bv-field="telefono" name="telefono" autocomplete="new-password"><!---->
                            <div data-v-19c9a1c7="" class="flex-1">
                                <div data-v-e59be3b4="" data-v-19c9a1c7="" class="input-tel input-phone-number is-valid has-value" data-bv-field="telefono" name="telefono" autocomplete="new-password">
                                    <input data-v-e59be3b4="" id="telefono-2_phone_number" placeholder="Teléfono *" required="required" type="tel" data-bv-field="telefono" name="telefono" autocomplete="new-password" class="input-tel__input no-country-selector" style="border-radius: 4px; caret-color: dodgerblue; border-color: yellowgreen;">
                                    <label data-v-e59be3b4="" for="telefono-2_phone_number" class="input-tel__label" style="color: yellowgreen;"> Teléfono * </label>
                                    <!---->
                                    <!---->
                                </div>
                            </div>
                        </div> <!----></div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">Clase Fiscal <font color="red">*</font><br> 
                            <select id="tipo_fiscal" class="form-control input-compra" style="float: left; min-width: 85px; margin-bottom: 10px;">
                                <option value="">Elige una Clase Fiscal</option> 
                                <option value="2">Consumidor Final</option> 
                                <option value="3">Monotributista</option> 
                                <option value="1">Responsable Inscripto</option>
                            </select> <!----></div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12">Numero de Documento (SOLO NUMEROS) <font color="red">*</font><br> 
                                <input type="text" id="numero_documento" name="numero_documento" required="required" autocomplete="new-password" data-bv-field="numero_documento" onkeypress="return event.charCode >= 45 &amp;&amp; event.charCode <= 57" class="form-control input-perfil"> <!----> <!----> 
                                <input type="hidden" id="hid_tipo_documento input-perfil" value="2">
                            </div>
                        </div> 
                            <div class="row">
                                <div class="col-md-6">
                                    <p id="ModificarContraseña">
                                        <button id="ModificarContraseña" type="button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Actualizando" class="btn btn-success col-md-12">Modificar contraseña</button>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p id="ActualizarDatos">
                                        <button id="ActualizarDatos" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Actualizando" class="btn btn-success col-md-12"> Actualizar</button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </body>

{% if mensaje != "" %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ mensaje }}
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" language="JavaScript">
    let myModal = new bootstrap.Modal(document.getElementById('exampleModalCenter'), {});
    myModal.show();
</script>
{% endif %}

{% endblock %}