{% extends "HeaderBaseNoLog.html" %}
{% load static %}

{% block title %} VacunAsist
{% endblock %}


{% block content %}

<main class="no_user">
<div class="layer">
    <div class="container">
        <div class="row" style="align-content: center; background-color: transparent;">
        <div class="col-lg-7 offset-lg-2 col-md-2 offset-md-2
        col-10" style="background-color:rgba(255, 255, 255, 0.80);">
            <div class="card-heade card card-outline-secondaryr" style="background: #A2CB83;">
                    <h3 class="mb-1" style="text-align: center;">Registro</h3>
            </div>
            <div style="padding: 3%; background-color: transparent;">
                <form action="#" class="form-horizontal" method="post">{% csrf_token %}
                    <div style="text-align: center;">
                        {% for field in registration_form %}
                            {% if field.name != "" %}
                                <div class="field-wrapper">
                                    <div class="label-wrapper"> 
                                        {{ field.label_tag }}
                                        {% if field.field.required %}<span class="required">*</span>{% endif %}
                                        {% if field.help_text != "" %}
                                            <i class="fa-solid fa-circle-info" title="{{ field.help_text }}" style="t;"></i>
                                        {% endif %}
                                    </div>
                                    <div class="value-wrapper">
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!--Basicamente esto dice que si hay errores, que los muestre-->
        
                        {% if registration_form.non_field_errors %}
                        <div style="color: rgb(105, 0, 0)">
                            <p>{{registration_form.non_field_errors}}</p>
                        </div>

                        {% endif %}
                        <br><br>
                        <button type="submit" style=" min-width:100%; color:white; font-weight:600; background: #A2CB83; border-color: #3b6e22; float:right;" class="btn btn-primary btn-lg float-right">Registrarse</button>
                    </div>
                </form>
            </div>
        </div></div>
    </div>
</div>
</main>

{% endblock %}