<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stock Management System</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'font_awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'jqueryui/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


        <style>
            label {
                font-weight: bold;
            }
        </style>

    </head>

<main>

    <div class="container">
        <div class="card card-outline-secondary">
            <div class="card-header" style="background: #A2CB83;">
                    <h3 class="mb-0" >Registro</h3>
            </div>
            <div class="card-block">
                <form action="#" class="form-horizontal" method="post">
                    <div class="container" style="margin-top: 20px;">
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="col-sm-6 control-label">Numero de Documento</label>
                          <div class="col-sm-8">
                            <input type="text" name="dni" id="dni" class="form-control">
                          </div>
                        </div>
                  
                        <div class="form-group col-sm-6">
                          <label for="name" class="col-sm-6 control-label">Nombre Completo</label>
                          <div class="col-sm-8">
                            <input type="text" name="nombre_apellido" id="nombre_apellido" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="col-sm-6 control-label">Sexo</label>
                          <div class="col-sm-8">
                            <input type="radio" name="sexo" value="Masculino"> Masculino<br>
                            <input type="radio" name="sexo" value="Femenino"> Femenino<br>
                          </div>
                        </div>
                  
                        <div class="form-group col-sm-6">
                          <label for="name" class="col-sm-6 control-label">Email</label>
                          <div class="col-sm-8">
                            <input type="email" name="name" id="name" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="col-sm-6 control-label">Fecha de Nacimiento</label>
                          <div class="col-sm-8">
                            <input type="date" name="name" id="id" class="form-control">
                          </div>
                        </div>
                  
                        <div class="form-group col-sm-6">
                          <label for="name" class="col-sm-6 control-label">Contraseña</label>
                          <div class="col-sm-8">
                            <input type="password" name="contrasenia" id="contrasenia2" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-6 control-label">Cuestionario de Salud</label>
                            <div class="col-sm-12">
                            <p>Presenta alguna de estas enfermedades</p>
                              <ul>
                                <li>Paciente oncológico</li>
                                <li>Persona trasplantada</li>
                                <li>Diabetes</li>
                                <li>Enfermedad Renal Crónica</li>
                                <li>Enfermedades Cardiovasculares</li>
                                <li>Enfermedades Respiratorias Crónicas</li>
                              </ul>                              
                              <input type="radio" id="Si" name="de_riesgo" value="1">
                              <label for="Si">Si</label><br>
                              <input type="radio" id="No" name="de_riesgo" value="0">
                              <label for="No">No</label><br>

                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="name" class="col-sm-6 control-label">Repetir contraseña</label>
                            <div class="col-sm-8">
                              <input type="password" name="contrasenia2" id="contrasenia2" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div> 
                      <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-6 control-label">Vacunatorio de preferencia</label>
                            <div class="col-sm-5">
                              <input type="radio" id="Corralon Municipal" name="vacunatorio_pref_id" value="1">
                              <label for="Corralon Municipal">Corralon Municipal</label><br>
                              <input type="radio" id="Polideportivo" name="vacunatorio_pref_id" value="2">
                              <label for="Polideportivo">Polideportivo</label><br>
                              <input type="radio" id="Hospital 9 de Julio" name="vacunatorio_pref_id" value="3">
                              <label for=" Hospital 9 de Julio">Hospital 9 de Julio</label>
                            </div>
                          </div>
                      </div>    
                  </form>
                <button type="submit" style="background: #A2CB83;" class="btn btn-primary btn-lg float-right">Registrarse</button>
            </div>
        </div>
    </div>
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'jqueryui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'plugins/datepick/jquery.datepick.js' %}"></script>
</main>