{% extends "base_login.html" %}
 {% load static %}
 {% block content %}
<body class="user">
<input type="text" id="myInput" placeholder="Ingrese un DNI">
<button type="button" onclick="myFunction3()">Buscar turno</button>
<div class="container-sm" style="float: left; padding-left: 5%; padding-top: 4%; width: 60%;">
    <div class="col-12" style="height: 100%; background-color: #fff;">
        <table class="table table-hover" id="myTable">
            <p style="background-color: white;"><strong>Turnos del día:</strong></p>
            <thead class="table-secondary">
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre y apellido</th>
                <th scope="col">Fecha</th>
                <th scope="col">Vacuna</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody style="overflow: scroll;">
            {% for turno in turnos %}
            <tr>
                <td class="dni_t">{{turno.usuario.dni}}</td>
                <td class="row_b">{{turno.usuario.nombre_apellido}}</td>
                <td class="row_c">{{turno.fecha.day}}/{{turno.fecha.month}}/{{turno.fecha.year}}</td>
                <td class="tipo_t">{{turno.vacuna.tipo}}</td>
                <td class="edit_row"><button >Cargar</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<form action="/cargar_vacuna_aplicada_con_turno/" method="POST" id="edit_form">{% csrf_token %}
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Cargar vacuna</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body mx-3">

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="defaultForm-pass">DNI</label>
            <input id="dni" name="Dni" class="form-control validate">
          </div>
      
            <div class="md-form mb-4">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-email">Tipo</label>
              <input  id="tipo" name="Tipo" class="form-control validate">
              
            </div>
            <div class="md-form mb-4">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-email">Marca</label>
              <input  id="marca" name="Marca" class="form-control validate">
              
            </div>
    
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Lote</label>
              <input id="lote" name="Lote" class="form-control validate">
              
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-default">Cargar vacuna</button>
        </div>
      </div>
    </div>
  </div>
</form>



{% if mensaje != "" %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ mensaje }}
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" language="JavaScript">
    let myModal = new bootstrap.Modal(document.getElementById('exampleModalCenter'), {});
    myModal.show();
</script>
{% endif %}
<script>

    var edit_row = document.querySelectorAll('#myTable .edit_row');
    for(var i=0; i<edit_row.length; i++) {
      edit_row[i].addEventListener('click', function(e){
        // get parent row, add data from its cells in form fields
        var tr_parent = this.parentNode;
        document.getElementById('dni').value = tr_parent.querySelector('.dni_t').innerHTML;
        document.getElementById('tipo').value = tr_parent.querySelector('.tipo_t').innerHTML;

        // display the form, and focus on a form field
        $("#modalLoginForm").modal()
        document.getElementById('dni').focus();
      }, false);

    }
  
</script>
<script>

  function myFunction3() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>

</body>

{% endblock %}